@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DM Sans;
}

body {
    padding: 116px 180px;
}

h1,
h6 {
    text-align: center;
}

h1 {
    color: #0A0A0A;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.44px;
}

h6 {
    color: #404040;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.198px;
    margin-top: 24px;
}

.map {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.map img {
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 24px;
    width: 100%;
    transform: translateY(-200px);
}

.cards>div {
    min-width: 280px;
    width: 30%;
    height: 208px;
    flex: auto;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(44, 59, 64, 0.15);
    padding: 24px;
}

.cards>div img {
    float: right;
    width: 40px;
    aspect-ratio: 1/1;
}

.cards>div h3 {
    color: #0A0A0A;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.588px;
    margin-bottom: 20px;
}

.cards>div p,
.cards>div span {
    color: #0A0A0A;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.198px;
}

.cards>div a {
    text-decoration: none;
    display: block;
}

.cards>div p.address {
    color: #9E9E9E;
    margin-top: 12px;
}

@media screen and (max-width: 1080px) {
    body {
        padding: 40px 48px;
    }

    .cards {
        flex-wrap: wrap;
        transform: none;
    }


    /* не понял принцип сортировки, поэтому сделал это вручную */
    .cards>div:nth-child(1) {
        order: 2;
    }

    .cards>div:nth-child(2) {
        order: 4;
    }

    .cards>div:nth-child(3) {
        order: 5;
    }

    .cards>div:nth-child(4) {
        order: 1;
    }

    .cards>div:nth-child(5) {
        order: 3;
    }

    .cards>div {
        padding: 16px;
        height: auto;
    }

    .cards>div img {
        width: 20px;
    }

    .cards>div h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.34px;
    }

    .cards>div p {
        color: #404040;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.176px;
    }
}